/* --------------------------- */
/* Text: #8b8b8b               */
/* dark: #0b0b0b               */
/* darkAccent: #141414         */
/* primary: #e64a19            */
/* primaryAccent: #f7941d      */
/* Highlight dark: #3a3a48     */
/* --------------------------- */

/* -------------------------------------------------- */
/* Global styles ------------------------------------ */
/* -------------------------------------------------- */
body {
	background-color: #0b0b0b;
	color: #8b8b8b;
}

a:link, a:hover, a:active {
	color: #f7941d;
}

a:visited {
	color: #e64a19;
}

/* -------------------------------------------------- */
/* Navigation --------------------------------------- */
/* -------------------------------------------------- */
#navigation {
	position: fixed;
	float: left;
	width: 20%;
	height: 100%;
	background-color: #141414;
}

#navigation .brand {
	width: 100%;
}

#navigation .brand > img {
	padding: 5px;
	height: 75px;
	max-width: 100%
}

#navigation .brand > span {
	font-size: 24px;
}

#navigation ul {
	list-style: none;
	padding: 0;
}

#navigation li:not(:last-child) {
	border-bottom: 1px dashed #232323;
}

#navigation li a {
	display: block;
	padding: 15px;
	text-decoration: none;
	font-size: 16px;
	color: #8b8b8b;
}

#navigation li a:hover {
	background-color: #e64a19;
	color: white;
}

/* -------------------------------------------------- */
/* Content ------------------------------------------ */
/* -------------------------------------------------- */
#wrapper {
	width: 100%;
}

#wrapper:after {
	content: "";
	display: table;
	clear: both;
}

#content {
	float: right;
	width: 80%;
}

/* -------------------------------------------------- */
/* Card --------------------------------------------- */
/* -------------------------------------------------- */
.card {
	background-color: #141414;
	margin-bottom: 30px;
}

.card > .title {
	padding: 15px 0 5px 0;
	font-size: 30px;
	border-bottom: 1px dashed #232323;
}

.card > .content {
	padding: 15px 0;
}

.card.mojangService > .title {
	font-size: 24px;
}

/* -------------------------------------------------- */
/* Section ------------------------------------------ */
/* -------------------------------------------------- */
section h2 {
	padding-bottom: 10px;
	margin-bottom: 30px;
	border-bottom: 1px dashed #232323;
}

/* -------------------------------------------------- */
/* Misc --------------------------------------------- */
/* -------------------------------------------------- */
.spinner {
	text-align: center;
}

.btn {
	border: none;
	border-radius: 0;
}

.btn-primary {
	background-color: #e64a19;
	color: white;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
	background-color: #f7941d;
	color: white;
}

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open > .dropdown-toggle.btn-primary.focus, .open > .dropdown-toggle.btn-primary:focus, .open > .dropdown-toggle.btn-primary:hover {
	background-color: #f7941d;
}

.dropdown {
	margin: 5px;
}

.dropdown-menu {
	border: none;
	border-radius: 0;
	background-color: #3a3a48;
}

.open > .dropdown-toggle.btn-primary:focus, .open > .dropdown-toggle.btn-primary:hover {
	background-color: #f7941d;
}

.dropdown-menu > .active > a:focus {
	background-color: #f7941d;
}

.dropdown-menu > .active > a:hover, .dropdown-menu li > a:hover {
	background-color: #f7941d;
	color: white;
}

.open > .dropdown-toggle.btn-primary {
	background-color: #e64a19;
}

.dropdown-menu > li > a {
	color: white;
}

.dropdown-menu > li.active > a {
	background-color: #e64a19;
}

.livecount h1 {
	margin: 0;
	width: 100%;
	text-align: center;
	font-size: 48px;
}

.distributionradial {
	margin: 0 auto;
}

.mojangStatusYellow {
	color: #f7941d;
}

.mojangStatusRed {
	color: #e64a19;
}

/* -------------------------------------------------- */
/* Media queries ------------------------------------ */
/* -------------------------------------------------- */
/* Small screens (phones) */
@media (max-width: 767.98px) {
	#navigation {
		position: relative;
		float: none;
		width: 100%;
		height: auto;
	}

	#content {
		float: none;
		width: 100%;
	}
}

/* Medium screens (tablets) */
@media (max-width: 991.98px) {
	#navigation .brand span {
		font-size: 20px;
	}
}

/* Large screens (desktops) */
@media (min-width: 1200px) {
	#navigation {
		width: 15%;
	}
	#content {
		width: 85%;
	}
}
